{% extends "ebase.html" %} {% block title %}Create Quiz{% endblock %} 
{% block  style %} {% endblock %} {% block content %}
<div class="col-md-10 offset-md-1">
  <div class="ques-title text-center pb-3">
    <h2 class="mb-2">Create Quiz</h2>
  </div>
</div>
<div class="card mb-3 py-3 px-3 m-3 shadow-sm">
  
  <div class="card-body">    
    <form action="createquiz" method="POST">
      {% csrf_token %}
      <input type="hidden" name="userid" value="{{user.id}}"/>
      <label for="quizname">Quiz name</label>
    <input type="text" class="form-control" name="quizname" placeholder="Enter name for your Quiz" required/><br/>
    <label for="quizname">Quiz Description</label>
    <input type="text" class="form-control" name="quizdesc" placeholder="What this quiz about" required/>
    <br/>
    <input type="submit" class="btn btn-success" value="Create Quiz"/>
    </form>
  </div>
</div>

{% include "createscript.html"%}
{% endblock %}
