{% extends "base.html" %}
{% block title %}Signup{% endblock %}
{% block style %}
{% endblock %}
{% block script %}
$(document).ready(function(){

  $('.input').focus(function(){
    $(this).parent().find(".label-txt").addClass('label-active');
  });

  $(".input").focusout(function(){
    if ($(this).val() == '') {
      $(this).parent().find(".label-txt").removeClass('label-active');
    };
  });

});
{% endblock %}
{% block content %}
<section class="loginpage">
  {% for message in messages %}

  <div class="row">
  <h6 class="text-center alert alert-danger" id="errormsg">{{message}}</h6>
  </div>
  {% endfor %}
  <div class="container aos-init aos-animate" data-aos="fade-up">

    <header class="section-header">
      <h2>Visit educator Dashboard</h2>
      <p>SIGNUP</p>
    </header>

    <div class="row">
      <div class="col-md-8 offset-md-2 col-lg-6 offset-md-3">
        <form action="signup" method="POST" class="loginmain">
          {% csrf_token %}
            <p class="label-txt">YOUR FIRST NAME</p>
            <input type="text" class="form-control" name="firstname" required placeholder="Firstname">
        
            <p class="label-txt">YOUR LAST NAME</p>
            <input type="text" class="form-control" name="lastname" required placeholder="Lastname">
        
            <p class="label-txt">YOUR EMAIL</p>
            <input type="emnail" class="form-control" name="email" id="id_email" required placeholder="Email">
          <span id="msgjse"></span>
            <p class="label-txt">YOUR USERNAME</p>
            <input type="text" class="form-control" name="username" id="id_username" required pattern="^\S+$" placeholder="Username">
            <span id="msgjs"></span>
        
            <p class="label-txt">ENTER YOUR PASSWORD</p>
            <input type="password" class="form-control" name="password" required placeholder="Password">
          <br/>
          <div class="row">
            <input type="submit" class="btn btn-success col-sm-8 offset-sm-2" value="Register"/>
          </div><br/>
            <div class="row">
            <span class="text-center"> Already Registered? <strong><a href="/educator/login">Login Now</a></strong></span>
          </div>
          </form>
    </div>
    </div> <!-- / row -->
  </div>

</section>



{% include "validationscript.html" %}
{% endblock %}
