{% extends "ebase.html" %}
{% block title %}Update Password{% endblock %}
{% block style %}
.form-control{
  width:auto;
}
{% endblock %}
{% block script %}
{% endblock %}
{% block content %}
<div class="col-md-10 offset-md-1">
  <div class="ques-title text-center pb-3">
    <h2 class="mb-2">Change Password</h2>
  </div>
</div>
<div class="card mb-3 m-3">
  <div class="row">
    <div class="col-sm-12 alert bg-dark text-light shadow"><h6 class="mb-0">Change your password</h6></div>
  </div>
  <div class="card-body">    
    {% for message in messages %}
  <div class="text-center alert-danger alert" id="errormsg">{{message}}</div>
  {% endfor %}
    <form action="updatepassword" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-sm-3"><h6 class="mb-0">New Password</h6></div>
        <div class="col-sm-9 text-secondary"><input type="password" id="txtPassword" name="npassword" class="form-control" placeholder="Enter a New password" required></div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3"><h6 class="mb-0">Confirm New Password</h6></div>
        <div class="col-sm-9 text-secondary"><input type="password" id="txtConfirmPassword" name="cpassword" class="form-control" placeholder="Confirm new password" required></div>
      </div>
      <hr />
      <input type="submit" class="btn btn-success float-right" value="Change Password" id="submitpass">
    </form>
  </div>
</div>

{% include "validationscript.html" %}
{% endblock %}