{% extends "ebase.html" %}
{% block title %}Update Profile{% endblock %}
{% block style %}
.form-control{
  width:auto;
}
{% endblock %}
{% block script %}
{% endblock %}
{% block content %}
<div class="col-md-10 offset-md-1">
  <div class="ques-title text-center pb-3">
    <h2 class="mb-2">Edit Profile</h2>
  </div>
</div>
<div class="card mb-3 m-3">
  <div class="row">
    <div class="col-sm-12 alert bg-dark text-light shadow"><h6 class="mb-0">Basic Info</h6></div>
  </div>
  <div class="card-body"> 
       
    <form action="updateprofile" method="post">
      {% csrf_token %}
      {% for message in messages %}
  <div class="text-center alert-danger alert" id="errormsg">{{message}}</div>
  {% endfor %}
      <div class="row">
        <div class="col-sm-3"><h6 class="mb-0">First Name</h6></div>
        <div class="col-sm-9 text-secondary"><input type="text" class="form-control"  name="firstname" value="{{user.first_name}}" required placeholder="First Name"/></div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3"><h6 class="mb-0">Last Name</h6></div>
        <div class="col-sm-9 text-secondary"><input type="text" class="form-control" name="lastname" value="{{user.last_name}}" required placeholder="Last Name"></div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3"><h6 class="mb-0">Username</h6></div>
        <div class="col-sm-9 text-secondary">
          <input type="text" class="form-control" name="username" id="id_username" value="{{user.username}}" required pattern="^\S+$" placeholder="Username">
            <span id="msgjs"></span>
        </div>
      </div>
      <hr />
      <input type="submit" value="Update"  class="btn btn-success float-right"/>
    </form>
  </div>
</div>


 
     {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}
{% include "validationscript.html" %}
{% endblock %}