{% extends "ebase.html" %}
{% block title %}Educator Home{% endblock %}
{% block style %}

{% endblock %}

{% block content %}
<div class="ques-title text-center pb-3">
    <h2>Quiz - <strong>{{fequizdet.quizname}}</strong></h2>
    <p>Quiz id - <span id="clipboard">{{quizid}}</span></p>
    <button id="cpBtn" class="btn btn-success" onclick="copyText()">Copy Link</button>

</div>
<div class="col-md-10 offset-md-1 pb-5">
  {% if numofques != 0 %}  
    <div class="ques" id="accordion">
         {% for quesall in quizquesall %}  
         {% load mathfilters %}
        <div class="card">
            <div class="card-header" id="quesHeading-1">
                <div class="mb-0">
                    <h5 class="ques-title" data-bs-toggle="collapse" data-bs-target="#quesCollapse-{{forloop.counter}}" aria-expanded="true" aria-controls="quesCollapse-{{forloop.counter}}">
                        <span class="badge">Q.{{forloop.counter}}</span>{{quesall.question}}

                    </h5>
                </div>
            </div>
            <div id="quesCollapse-{{forloop.counter}}" class="collapse show"  aria-labelledby="quesHeading-{{forloop.counter}}" data-parent="#accordion">
                <div class="card-body">
                  <div style="display:inline-block;" class="float-end">
                    <form method="GET" action="createquestion" style="display:inline-block;">
                      {% csrf_token %}
                      <input type="hidden" value="{{quesall.quizid}}" name="quizidfe">
                      <input type="submit" value="Edit" name="btn-save" class="btn btn-sm btn-warning mt-1"/> 
                  </form>
                  <form method="POST" action="deleteques" style="display:inline-block;" onsubmit="return validateForm()">
                    {% csrf_token %}
                    <input type="hidden" value="{{quesall.id}}" name="quesidfe">
                    <input type="hidden" value="{{quesall.quizid}}" name="quizidfe">
                    <input type="submit" value="Delete" name="btn-save" class="btn btn-sm btn-danger mt-1"/> 
                </form>
              </div><br/>
                  <ul>
                  
                  {% if quesall.numofques >= 2 %}
                  
                    <li><span class="{% if quesall.correctoption == 1 %}alert-success{%endif%}">{{quesall.option1}} {% if quesall.correctoption == 1 %}<i class="fa fa-check" aria-hidden="true"></i>{%endif%}</span></li>
                    <li><span class="{% if quesall.correctoption == 2 %}alert-success{%endif%}">{{quesall.option2}} {% if quesall.correctoption == 2 %}<i class="fa fa-check" aria-hidden="true"></i>{%endif%}</span></li>
                  {% endif %}
                  {% if quesall.numofques >= 3 %}
                    <li><span class="{% if quesall.correctoption == 3 %}alert-success{%endif%}">{{quesall.option3}} {% if quesall.correctoption == 3 %}<i class="fa fa-check" aria-hidden="true"></i>{%endif%}</span></li>
                  {% endif %}
                  {% if quesall.numofques >= 4 %}
                    <li><span class="{% if quesall.correctoption == 4 %}alert-success{%endif%}">{{quesall.option4}} {% if quesall.correctoption == 4 %}<i class="fa fa-check" aria-hidden="true"></i>{%endif%}</span></li>
                  {% endif %}
                  {% if quesall.numofques == 5 %}
                    <li><span class="{% if quesall.correctoption == 5 %}alert-success{%endif%}">{{quesall.option5}} {% if quesall.correctoption == 5 %}<i class="fa fa-check" aria-hidden="true"></i>{%endif%}</span></li>
                  {% endif %}

                  </ul>
                </div>
            </div>
        </div>
        {% endfor%}

<a href="/educator/createquestion" class="float-end btn btn-sm btn-success px-2 py-1">Add More</a> 
<form method="POST" action="quizmodify">
  {% csrf_token %}
  <input type="hidden" value="{{quizid}}" name="quizidfe">
  <input type="submit" value="Edit Quiz Details" name="btn-save" class="btn btn-sm btn-dark float-start"/> 
</form>
<form method="POST" action="deletequiz" onsubmit="return validateForm()">
  {% csrf_token %}
  <input type="hidden" value="{{quizid}}" name="quizidfe">
  <input type="submit" value="Delete Quiz" class="btn btn-sm btn-danger float-start  ms-1"/> 
</form>
    </div>
    {% else%}
                        <div class="col-md-12">
                           
                            <h2 class="text-center">No question found in this quiz.</h2>
                            <br/><div class="row">
                            <a href="/educator/createquestion" class="btn-success text-center" style="margin:auto;">Add Question</a>
                       </div>
                    </div>
                            {% endif %}
</div>
<script>
  function copyText() {

      /* Select text area by id*/
      var Text = document.getElementById("clipboard");

      navigator.clipboard.writeText("http://127.0.0.1:8000/joinquiz/"+Text.textContent);

      document.getElementById("cpBtn")
          .innerHTML = "Link Copied";
  }
</script>
{% include "createscript.html"%}

{% endblock %}